html, body, h1, h2, section, div {
  margin:0;
  padding:0;
}

.title {
  visibility: hidden;
}

.gallery {
  margin-top:2rem;
}

.gallery > div {
  columns:16em;
  gap:0.5rem;
  padding-top:0.5rem;
}

.gallery img {
  display:block;
  width:100%;
  margin-bottom:0.5rem;
}


.full-bleed-image {
  background-image: url('photos/Portraits/Choe-1204.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;  /* You can adjust: 100vh = full screen height */
  margin: 0;
}